body{
    background: black;
    
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0;
    
}

* {
    border: 1px dashed red;
    min-height: 10px;
}

.postcard-header{
    display: flex;
    width: 680px;
    height: 140px;
    border: 3px;
    border-style: dotted;
    border-color: purple;
    margin-top: 25px;
    margin-left: 15px;
}

.postcard{
    /*display: flex;*/
    background: white;
    width: 700px;
    height: 600px;
    border: 3px;
    margin: auto;
    border-style: dashed;
    border-color: black;
}
.contenedor_titulo{
    
    width: 450px;
    height: 80px;
    border: 3px;
    border-style: dotted;
    border-color: purple;
    margin-top: 25px;
    margin-left: 15px;
}

.contenedor_imagen{
    width: 190px;
    height: 110px;
    border: 3px;
    border-style: dotted;
    border-color: purple;
    margin-top: 10px;
    margin-left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.postcard-body{
    display: flex;
    width: 670px;
    height: 230px;
    border: 3px;
    border-style: dotted;
    border-color: purple;
    margin-top: 25px;
    margin-left: 15px;
}

#contenedor_texto{
    width: 320px;
    height: 200px;
    border: 3px;
    border-style: dotted;
    border-color: blue;
    margin-top: 10px;
    margin-left: 10px;
}

#contenedor_form{
    width: 310px;
    height: 200px;
    border: 3px;
    border-style: dotted;
    border-color: blue;
    margin-top: 10px;
    margin-left: 10px;
}

.postcard-footer{
    display: flex;
    width: 670px;
    height: 120px;
    border: 3px;
    border-style: dotted;
    border-color: purple;
    margin-top: 25px;
    margin-left: 15px;
    justify-content: center;
}

p{
    color:blue;
}